<div class="center hero-unit">
  <h1>Sample App: YOUR COMPUTER HAS BEEN HACKED BY A V2 VIRUS</h1>

  <h2>
  	HOW TO FIX? CLICK ON THE THE FOLLOWING LINK.
    <a href="https://www.facebook.com/anh.doan.75248">DESTROY VIRUS!</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

